@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.text-primary{
    color:#FD6E0A;
}

.btn-primary{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    padding: 0 30px;
    border: none;
    cursor: pointer;
}

.btn-secondary{
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    color: #FD6E0A;
    padding: 0 30px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
.btn-secondary:hover{
    color: white;
    background-color: #FD6E0A;
}

section{
    margin: 130px 200px 0;
}
/* header styles */
.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;

}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav ul li{
    list-style: none;
    font-size: 20px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

/* banner section styles */
.banner{
    margin-left: 200px;
    margin-right: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    width: 585px;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-top: 10px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.banner-desc{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin: 20px 0 30px 0;
    line-height: 30px;
}

.btn-gap{
    margin-right: 10px;
}

/* about me section styles */
.about-me{
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    padding: 130px 155px;
}

.section-title{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.section-desc{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin: 50px 0;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    line-height: 30px;
    color: #474747;
    font-size: 20px;
}

.info-desc{
    font-weight: bold;
}

/* what i do section styles */
.What-I-do{
    text-align: center;
}

.wid-desc{
    padding: 0 200px;
}

.skills-container{
    display: flex;
    gap: 25px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    text-align: left;
    padding: 30px;
}

.skill-title{
    margin:30px 0 20px 0;
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-desc{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* Resume section styles */
.resume{
    text-align: center;
}
.resume-content{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    text-align: left;
    margin-top: 115px;
}

.resume-title{
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.resume-item{
    margin: 30px 0;

}

.title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.sub-title{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin: 20px 0 30px 0;
}

.summary-btn{
    margin-top: 50px;
}

/* contact form styles */
.contact-us{
    background: #FFF8F3;
    margin: 130px 0 0 0;
    padding: 130px 200px;
    display: flex;
    justify-content: space-between;
}

.contact-desc{
    max-width: 560px;
    margin: 20px 0 30px 0;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
}


.social i{
    padding: 10px;
    margin-right: 25px;
    color: #FD6E0A;
    cursor: pointer;
}

.form-title{
    margin-bottom: 30px;
}

.contact-form input[type="text"],
input[type="email"], 
textarea{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 25px;
}
